		<% include ../partials/_navbar.ejs %>
		<h1> <%=photo.title%> </h1>
	</header>
		<main>
			section>
				<img src="<%= photo.img %>">
			</section>
			<section>
				<h1><a href="/users/<%=user._id%>"> by: <%=user.name%> </h1>
			</section>
			<section>
			<a href="/photos/<%=photo.id%>/edit"> Edit <%=photo.title%> </a>
			</section>
		</main>
	<% include ../partials/_footer.ejs %>